/*=============================================
=        Foundation - Typography              =
=============================================*/

/**
 * This file defines the default font sizes to be used on headings and texts. The defaults come
 * from the palette defined in _variables.scss.
 */

/*=============================================
=            Body font family                  =
=============================================*/
$body-font-family: var(--dse-body-font-family, $playfair) !default;

/*=============================================
=            Body font sizes                  =
=============================================*/

$body-font-size: var(--dse-body-font-size, $fs-sm) !default;
$body-font-weight: var(--dse-body-font-weight, $fw-normal) !default;
$body-line-height: var(--dse-body-font-weight, $fw-normal) !default;
$body-letter-spacing: var(--dse-body-font-weight, $fw-normal) !default;

/*=============================================
=            Heading font family              =
=============================================*/
$head-font-family: var(--dse-body-font-family, $raleway) !default;

/*=============================================
=            Heading font sizes               =
=============================================*/

$h-1-font-size: var(--dse-h1-font-size, $h-1) !default;
$h-2-font-size: var(--dse-h2-font-size, $h-2) !default;
$h-3-font-size: var(--dse-h3-font-size, $h-3) !default;
$h-4-font-size: var(--dse-h4-font-size, $h-4) !default;
$h-5-font-size: var(--dse-h5-font-size, $h-5) !default;
$h-6-font-size: var(--dse-h6-font-size, $h-6) !default;

/*=============================================
=            Head font weights                =
=============================================*/

$h-1-font-weight: var(--dse-h1-text-weight, $fw-black) !default;
$h-2-font-weight: var(--dse-h2-text-weight, $fw-semibold) !default;
$h-3-font-weight: var(--dse-h3-text-weight, $fw-bold) !default;
$h-4-font-weight: var(--dse-h4-text-weight, $fw-medium) !default;
$h-5-font-weight: var(--dse-h5-text-weight, $fw-normal) !default;
$h-6-font-weight: var(--dse-h6-text-weight, $fw-light) !default;

/*=============================================
=            Head letter spacing              =
=============================================*/

$h-1-letter-spacing: var(--dse-h1-letter-spacing, -#{$spacing[md]}) !default;
$h-2-letter-spacing: var(--dse-h2-letter-spacing, -#{$spacing[xxs]}) !default;
$h-3-letter-spacing: var(--dse-h3-letter-spacing, #{$spacing[none]}) !default;
$h-4-letter-spacing: var(--dse-h4-letter-spacing, #{$spacing[xxxs]}) !default;
$h-5-letter-spacing: var(--dse-h5-letter-spacing, #{$spacing[none]}) !default;
$h-6-letter-spacing: var(--dse-h6-letter-spacing, #{$spacing[xxxs]}) !default;

/*=============================================
=            Head line height              =
=============================================*/

$h-1-line-height: var(--dse-h1-line-height, -map-get($spacing, 'md')) !default;
$h-2-line-height: var(--dse-h2-line-height, -map-get($spacing, 'xxs')) !default;
$h-3-line-height: var(--dse-h3-line-height, $fw-bold) !default;
$h-4-line-height: var(--dse-h4-line-height, $fw-medium) !default;
$h-5-line-height: var(--dse-h5-line-height, $fw-normal) !default;
$h-6-line-height: var(--dse-h6-line-height, $fw-light) !default;
